<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dvicente.appearance-sync</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/dvicente/.config/appearance-sync/sync.sh</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Users/dvicente/Library/Preferences/.GlobalPreferences.plist</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/dvicente/Library/Logs/appearance-sync.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/dvicente/Library/Logs/appearance-sync.log</string>
</dict>
</plist>
