/* Hide tab bar - not necessary because of TST */
#TabsToolbar {
  visibility: collapse !important;
  margin-bottom: 21px !important;
}

/* Hide the TST selector header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  visibility: collapse !important;
}
